# macOS junk
.DS_Store

# SSB generated data
ssb-data/sf1/*
!ssb-data/sf1/.gitkeep

# DuckDB database files
db/*
!db/.gitkeep

# Build directories (cmake, make)
**/build/

# Python cache
__pycache__/
*.pyc

*.pdf